.anima-jump {
  transform: translateY(0em);
  transition: transform .3s ease-in;
}
.anima-jump:active, 
.anima-jump:hover {
  transform: translateY(-0.2em);
  transition: transform .3s ease-in;
}

.anima-open:disabled {
  opacity: 0.5;
  transform: rotate(0deg);
  transition: opacity .4s ease-in, transform .4s ease-in;
}
.anima-open:enabled {
  opacity: 1;
  transform: rotate(90deg);
  transition: opacity .4s ease-in, transform .4s ease-in;
}

.anima-shrink:active,
.anima-shrink:hover {
  transform: scale(0.95);
  transition: transform .3s ease-in;
}
