:root {
	--color-facebook: hsl(221, 44%, 41%);
	--color-goodreads: hsl(40, 83%, 18%);
	--color-twitter: hsl(203, 89%, 53%);

	--color-blue-8: hsl(231, 73%, 30%);

	--color-purple-6: hsl(280, 100%, 40%);

	--color-red-9: hsl(3, 100%, 95%);
}

.bg-facebook {
	background-color: var(--color-facebook);
}
.bg-goodreads {
	background-color: var(--color-goodreads);
}
.bg-twitter {
	background-color: var(--color-twitter);
}
.bg-purple-to-blue {
	background-image: linear-gradient(to right, var(--color-purple-6), var(--color-blue-8));
}
.bg-red-9 {
	background-color: var(--color-red-9);
}