:root {
	--facebook: hsl(221, 44%, 41%);
	--goodreads: hsl(40, 83%, 18%);
	--twitter: hsl(203, 89%, 53%);

	--blue-3: hsl(231, 73%, 30%);

	--green-9: hsl(120, 93%, 95%);

	--purple-6: hsl(280, 100%, 40%);

	--red-9: hsl(3, 100%, 95%);
}

.bg-purple-to-blue {
	background-image: linear-gradient(to right, var(--purple-6), var(--blue-3));
}

.facebook {
	color: var(--facebook);
}
.b--facebook {
	border-color: var(--facebook);
}
.bg-facebook {
	background-color: var(--facebook);
}

.goodreads {
	color: var(--goodreads);
}
.b--goodreads {
	border-color: var(--goodreads);
}
.bg-goodreads {
	background-color: var(--goodreads);
}

.twitter {
	color: var(--twitter);
}
.b--twitter {
	border-color: var(--twitter);
}
.bg-twitter {
	background-color: var(--twitter);
}