.anima-jump {
  transform: translateY(0em);
  transition: transform .3s ease-in;
}
.anima-jump:active, 
.anima-jump:hover {
  transform: translateY(-0.2em);
  transition: transform .3s ease-in;
}

.anima-open:disabled {
  opacity: 0.5;
  transform: rotate(0deg);
  transition: opacity .4s ease-in, transform .4s ease-in;
}
.anima-open:enabled {
  opacity: 1;
  transform: rotate(90deg);
  transition: opacity .4s ease-in, transform .4s ease-in;
}

.bg{
  background: url("../../imgs/ArvoreO.png") no-repeat;
}

.top-50 {
  top: 50%;
}
.left-50 {
  left: 50%;
}
.dynamic-center {
  transform: translate(-50%, -50%);
}
.scale--75 {
  transform: scale(0.75);
}