.anima-transp-placeholder[value=""]::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity .4s ease-in;
}
.anima-transp-placeholder[value=""]:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity .4s ease-in;
}

.anima-transp-placeholder[value=""] ~ .anima-floating-hint {
	opacity: 0;
	transform: translateY(140%);

	transition: opacity .3s ease-in, transform .5s ease-in;
}
.anima-transp-placeholder[value=""]:focus ~ .anima-floating-hint,
.anima-transp-placeholder ~ .anima-floating-hint {
	opacity: 1;
	transform: translateY(-285%);

	transition: opacity .9s cubic-bezier(1,.14,.7,.72), transform .7s ease-in;
}