.error {
	background-color: var(--color-red-90);
}
.error label {
	color: var(--color-red);
}
.error .icon--error {
	display: inline;
}
.error .msg {
	opacity: 1;
	transition: opacity .3s ease-in;
}

.icon--error,
.icon--ok {
	display: none;
}
.msg {
	color: var(--color-red-30);
	opacity: 0;
}

.ok .icon--ok {
	display: inline;
}