.error {
	background-color: var(--red-9);
}
.error label {
	color: red;
}
.error .icon--error {
	display: inline;
}
.error .msg {
	opacity: 1;
	transition: opacity .3s ease-in;
}

.icon--error,
.icon--ok {
	display: none;
}
.msg {
	color: darkred;
	opacity: 0;
}

.ok .icon--ok {
	display: inline;
}