.anima--outline-to-background {
	background: linear-gradient(to bottom, var(--color-purple-6) 0%, var(--color-purple-6) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 0.2em 0.2em;
	color: orange;

	transition-property: background-size, color;
	transition: 1s;
}
.anima--outline-to-background:hover {
	background-size: 0.2em 100%;
	color: white;

	transition-property: background-size, color;
	transition: .9s;
}