:root {
	--color-facebook: hsl(221, 44%, 41%);
	--color-goodreads: hsl(40, 83%, 18%);
	--color-twitter: hsl(203, 89%, 53%);
	--color-purple-6: hsl(280, 100%, 30%);
	--color-blue-8: hsl(231, 73%, 25%);
}

.bg-facebook {
	background-color: var(--color-facebook-standard);
}
.bg-goodreads {
	background-color: var(--color-goodreads-standard);
}
.bg-twitter {
	background-color: var(--color-twitter-standard);
}
.bg-purple-to-blue {
	background-image: linear-gradient(to right, var(--color-purple-6), var(--color-blue-8));
}