body{
  background: url(ArvoreO.png) no-repeat;
  size: cover
}
div{
  padding-top: 2cm
}

form{
  text-align: center
}

form{
  border: 1px solid;
  width: 300px;
  margin: 0 auto;
  background-color: white
}

input{
  margin: 1em
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
